.button{
    background-color: #4c5773;
    padding: 1rem 2rem;
    border: 1px solid #4c5773;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease-in;
    box-shadow: 1rem 1rem 1rem #d3dae7,
    -1rem -1rem 1rem #fff ;
}
.button:hover{
    background-color: #ecf0f3;
    border: 1px solid #4c5773;
    color: #4c5773;
}