.NTFTabs_box_img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
}
.NTFTabs_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #d3dae7;
}
.NTFTabs_box_info{
    display: grid;
    align-self: flex-start;
    line-height: 1;
    margin-top: 6px;
}
.NTFTabs_box_info span{
    font-weight: 700;
}
.NTFTabs_box_info small{
    margin-top: .2rem;
}