.uploadnft{
    width: 100%;
    margin-block: 8rem;
}
.uploadnft_box{
    width: 60%;
    margin: 0 auto;
}
.uploadnft_box_heading{
    border-bottom: 1px solid #d3dae7;
}
.uploadnft_box_heading h1{
    font-size: 3.5rem;
    line-height: .1;
}
.uploadnft_box_heading p{
    font-size: 1.4rem;
    width: 70%;
    line-height: 1.2rem;
}
.uploadnft_box_title{
    border-bottom: 1px solid #d3dae7;
    margin-top: 4rem;
}